.product-card {
  height: 100%; /* Make sure all cards are the same height */
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Ensure content is spaced evenly */
}

.product-card img {
  width: 100%;
  height: 200px; /* Fixed image height */
  object-fit: cover; /* Ensure image is cropped properly if needed */
}

.product-card .card-body {
  flex-grow: 1; /* Take up available space in the card body */
}

.card-title {
  white-space: nowrap; /* Ensure text doesn't wrap */
  overflow: hidden; /* Hide overflow text */
  text-overflow: ellipsis; /* Add ellipsis for long text */
}

.card-text {
  min-height: 40px; /* Set a minimum height for consistency */
  margin-bottom: 10px; /* Ensure there's space below the price */
}

.add-to-cart-btn {
  margin-top: auto; /* Align the "Add to Cart" button to the bottom */
}

/* Modal styles */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
  margin: 15% auto;
  display: block;
  max-width: 24%;
  margin-top: 10%;
}

.close {
  position: absolute;
  top: 15px;
  right: 25px;
  color: white;
  font-size: 35px;
  font-weight: bold;
  cursor: pointer;
}

table {
  width: 100%;
  border-collapse: collapse;
}
th,
td {
  padding: 8px;
  text-align: left;
  border: 1px solid #ddd;
}
button#buttonTableSize {
  color: white;
  border: none;
  padding: 5px 10px;
  margin-bottom: 10px;
  cursor: pointer;
  width: 100%;
}
button#buttonTableSize:hover {
  background-color: rgb(24, 63, 192);
}

div.tableDivision {
  padding: 2%;
  /* border: 2px solid rgb(117, 117, 109); */
  border-radius: 10px;
  width: 80%;
  margin: auto;
}

h1.customerInformation {
  padding: 10px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }

  .header-right {
    float: none;
  }
}
